*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    
}

#left{
width: 50%;
height: 100%;
/* background-color: blanchedalmond; */
padding: 70px 50px;
}

#ltop{
    width: 100%;

}
#ltop h1{
    font-size: 18vh;
}

#lbottom{
    width: 70%;
    margin-top: 30%;
}
#lbottom p{
font-size: 12px;
}

#right{
width: 50%;
height: 100%;
/* background-color: aquamarine; */
position: relative;
padding-top: 23px;

}


#rphoto{
    position: relative;
    width: 100%;
    height: 70%;
    margin-top: 170px;
    
    padding-left: 40px;
    padding-top: 10px;
    /* background-color: blue; */
}

#cir {
    position: relative ;
    border: 3px solid black;
    border-radius: 50%;
    width:25% ;
    height: 40%;
   position: absolute;
   top: 25%;
   left: 50%;
   background-color: black;
}
#cir h3{
width: 100%;
position: absolute;
top: 50%;
left: 70%;
transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    font-weight: 800;
}

#rphoto h4{
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translate(0,-50%);
    rotate: -90deg;
}
#rphoto img{
   padding-left: 25px;
    width: 60%;
    height: 100%;
}

button{
    width: 20%;
    height: 30%;
    display: flex;
    border: 3px solid black;
    border-radius: 15%;
    background: transparent;
    padding: 0px 6px;


}
.elem{
    /* position: absolute; */
   padding: 5px;
    width: 20%;
    height: 30%;
    border: 2px solid black;
    border-radius: 50%;
}
#right h5:nth-child(1){
    position: absolute;
    top: 30%;
    left: 13%;
    transform: translate(-50%,0%);
    
}

#right h5:nth-child(2){
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 10px;
     

}

#right h5:nth-child(3){
    position: absolute;
    top: 180px;
    left: 60%;
    transform: translate(-50%,0%);
    font-size: 13px;
    font-weight: 900;
    color: black;
  
}

@media (max-width:600px){
    #main{
    width: 100%;
    height: 100%;
    display: block;
}

#left{
width: 100%;
height: 60%;
/* background-color: blanchedalmond; */

}

#ltop{
    width: 100%;
   height: 30%;
/* background-color: rgb(252, 164, 49); */
}
#ltop h1{
    font-size: 52px;
    text-align: center;
}

#lbottom{
    width: 100%;
    height: 60%;
    
    /* background-color: beige; */
}
#lbottom p{
font-size: 12px;
    width: 100%;
margin-top: 10px;
text-transform: capitalize;
line-height: 20px;
}
#lbottom h3{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

#right{
width: 100%;
height: 40%;
/* background-color: aquamarine; */


}


#rphoto{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-left: 50px;
    padding-top: 10px;
    /* background-color: blue; */
}

#cir {
    position: relative ;
    border: 3px solid black;
    border-radius: 50%;
    width:23% ;
    height: 35%;
   position: absolute;
   top: 25%;
   left: 50%;
   background-color: black;
}
#cir h3{
width: 100%;
position: absolute;
top: 50%;
left: 60%;
transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
    font-weight: 800;
}

#rphoto h4{
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(0,-50%);
    rotate: -90deg;
}
#rphoto img{
   padding-left: 25px;
    width: 60%;
    height: 100%;
}

button{
    border: 2px solid black;
    border-radius: 20%;
   
    width: 30%;
    height: 20%;
    padding-right: 10%;
    background: transparent;
}
#right h5:nth-child(1){
   /* width: 100%; */
   /* background-color: antiquewhite; */
   position: absolute;
   left: 24%;
   top: 6%;
    
}

#right h5:nth-child(2){
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 10px;
     

}

#right h5:nth-child(3){
    position: absolute;
    top: 18px;
    left: 60%;
    transform: translate(-50%,0%);
    font-size: 13px;
    font-weight: 500;
   
  
}

}