*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#main{
width: 100%;
height: 100%;
border-radius: 30px;
background-color: #fff;
overflow: hidden;

.nav{
width: 100%;
display: flex;
background-color: yellow;

margin-top: 5px;
padding: 10px;
gap: 280px;

#right-nav{
padding-top: 10px;
padding-left: 30px;

}

#center-nav{
gap: 30px;

display: flex;
margin-left: 60px;
margin-top: 5px;
background-color: #deccccb7;
border: none;
border-radius: 20px;
padding: 10px 40px;
pad
h4:nth-child(1){
    color: red;
   
}

}


#left-nav{
margin-top: 7px;


button{
border: none;
border-radius: 20px;
padding: 10px 20px;
background-color: rgb(227, 150, 7);
cursor: pointer;
}

}

}

#center{
    width: 100%;
    height: 40%;
    display: flex;

#left{
width: 60%;

background-color: red;
padding-top: 50px;
display: flex;
padding-left: 25px;
position: relative;
border: 1px solid black;

h1:nth-child(1){
font-size: 3vw;



}

h1:nth-child(2){
position: absolute;
top: 35%;
left: 40%;
font-size: 4vw;
}

.image-a{
      width: 5%;
    height: 35%;
    position: absolute;
top: 35%;
left: 10%;

img{
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px 10px;
}
}
.image-b{
      width: 5%;
    height: 35%;

    position: absolute;
top: 35%;
left: 15%;

img{
    width: 100%;
    padding: 3px 10px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
}
}
.image-c{
      width: 5%;
    height: 35%;
    position: absolute;
top: 35%;
left: 155px;
img{
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px 10px;
}
}

}

#right{
width: 40%;
background-color: blue;
padding: 20px;
position: relative;

.rect-1{

width: 100%;
height: 100%;

img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
   object-fit: cover;
}
}

.rect-2{

width: 50%;
height: 83%;
position: absolute;
top: 8%;
left: 235px;
padding: 20px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.523);
    border-radius: 30px;

}


}


}

#bottom{
width: 100%;
height: 100%;
background-color: beige;
display: flex;

// .image-1{
//     grid-area: a;
// }
// .image-2{
//     grid-area: b;
// }

// .image-3{
//     grid-area: c;
// }
// .image-4{
//     grid-area: d;
// }

.image-1{
    width: 20%;
height: 46%;
margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.image-2{
    width: 80%;
    margin-top: 10px;
    height: 46%;
    border: 2px solid black;
    border-radius: 20px;
}
.image-3{
    
    border: 1px solid black;
    border-radius: 20px;
}
.image-4{
    
    border: 1px solid black;
    border-radius: 20px;
}

}

}