*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.images{
    width: 100%;
    height: 100%; 
    background-color: wheat;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j"
    ;
}
@media(min-width:1000px){
        .images{
    width: 100%;
    height: 100%; 
    background-color: wheat;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "a a b c"
    "a a d e"
    "f g j j"
    "h i j j"
    
    ;
}
    }


img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    /* display: none; */
    border: 2px solid black;
    border-radius: 10px;
    
}

.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}