*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
   
}

#nav{
 height: 8px;
display: flex;
justify-content: flex-end;
gap: 20px;
padding: 20px 30px;
}

#nav i{
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    background-color: black;
    color: white;
}

#left{
    padding: 20px;
    
}

#left h1{
    font-size: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#leftside{
    width: 100%;
    height: 25%;
    display: flex;
    /* background-color: bisque; */
}

#lcont{
 padding: 10px 40px;
 width: 100%;
}

#lcont p{
    /* background-color: brown; */
    line-height: 30px;
}

#rcont {
    margin-top: 5px;
   width: 30%;    
}

.elem{
    margin: 5px;
    padding: 10px 0px;
    border-top: 2px solid black;
   
}
.elem i{
    padding-left: 150px;
    font-size: 20px;
    opacity: 0;
}

.elem:hover i{
    opacity: 1;
}

.elem a{
    color: black;
text-decoration: none;

}

#bottom {
    width: 100%;
    height: 25vh;
    background-image: url("download.webp");
    background-size: cover;
    background-position: center;
}
