*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
}

.box{
   width: 100%;
   height: 100%;
   display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

.nv{
     width: 200px;
   height: 200px;
    border: 6px solid white;
    border-radius: 50%;
background-color: yellow;



}
button{
    margin-top: 10px;
border-radius: 20px;
font-size: 20px;
padding: 30px;
}

}