@font-face {
    font-family: SF;
    src: url(./SFPRODISPLAYREGULAR.OTF);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
font-family: SF;
}

#nav{
    width: 100%;
    height: 6%;
    display: flex;
    padding: 10px 40px;
    gap: 40px;
     font-size: 14px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

#top{
    align-items: center;
    justify-items: center;
    height: 80%;
    color: white;
    background-position: center;
    background-size: cover;
    background-image: url("./iphone 17 pro.jpg");
}
#top h1{
    padding-top: 40px;
    font-size: 60px;
}
#top h2{
    /* padding-top: 10px; */
    font-size: 25px;
}

#link button:nth-child(1){
   margin-top: 20px;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(0, 113, 227);
}

#link button:nth-child(2){
   margin-top: 20px;
    font-size: 17px;
    border: 1px solid rgb(0, 113, 227);
    padding: 10px 15px;
    color: blue;
    font-weight: 500;
    border-radius: 20px;
    background-color: transparent
}
#link button:nth-child(2):hover{
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
}

#center{
     align-items: center;
    justify-items: center;
    height: 70%;
    color: rgb(18, 17, 17);
    background-position: center;
    background-size: cover;
    background-image: url("./iphone air.jpg");
}

#link1 button:nth-child(1){
   margin-top: 20px;
    font-size: 15px;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(76, 126, 253);
}

#link1 button:nth-child(2){
   margin-top: 20px;
    font-size: 17px;
    border: 1px solid rgb(76, 126, 253);
    padding: 10px 15px;
    color: blue;
    font-weight: 500;
    border-radius: 20px;
    background-color: transparent
}

#link1 button:nth-child(2):hover{
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
}

#center h1{
    padding-top: 40px;
    font-size: 60px;
}
#center h2{
    /* padding-top: 10px; */
    font-size: 25px;
}

.grid{
    display: grid;
    grid-template-areas: 
    "iphone-17"
    "Air-Pods"
    ;
    margin-top: 20px;
    gap: 20px;
    

}
@media(min-width:1000px){
.grid{
    display: grid;
     grid-template-areas: 
    "iphone-17  Air-Pods "
    ;
    margin-top: 20px;
    gap: 20px;
    

}
}
.card{
    height: 592px; /* adjust to taste*/
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
    text-align:center;
    background-size:cover;
    background-position:center;
    color: black;
    background-color: red;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 100;
} 

#iphone-17{
    background-image: url(./iphone\ 17.jpg);
}

#Air-Pods{
    background-image: url(./airpods.jpg);
}

#watch-11{
    background-image: url(./watch\ 11.jpg);
}

#watch-se{
    background-image: url(./watch\ se\ 3.jpg);
    padding-top: 380px;
}

#watch-ultra{
    color: white;
    background-image: url(./watch\ ultra.jpg);
}

#trade-in{
    background-image: url(./trade-in.jpg);
}

.card h1{
    padding-top: 40px;
    letter-spacing: 2px;
    font-weight: 600;
}

.card h4{
    font-weight: 200;
}

.links2 button{
    margin-top: 20px;
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 20px;
}

.links2 button:first-child{
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
}

.links2 button:last-child{
    color: rgb(0, 113, 227);
    background-color: transparent;
    border: 1px solid ;
}

.links2 button:last-child:hover{
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
}

#last-btn button{
    margin-top: 20px;
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 20px;
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
}