* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 200px;
        height: 200px;
        background-color: #fff;
    }


}

// .card {

//     background-color: #fff;
//     border-radius: 20px;
//     padding: 10px 30px;
//     text-align: center;



//     img {
//         width: 100px;
//         height: 100px;
//         border-radius: 50%;
//     }

//     h1 {
//         padding: 10px;
//         text-transform: capitalize;
//     }

//     h5 {
//         padding: 10px;
//         font-size: 16px;
//         text-transform: capitalize;
//     }

//     button {
//         border: none;
//         margin-top: 10px;
//         padding: 10px 20px;
//         border-radius: 20px;
//     }

//     button:active {
//         scale: 0.95;
//     }


// }