* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

  main {
    // border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10% 5%;

    .container {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      padding: 1%;
      background-color: rgba(112, 101, 101, 0.671);

      h1 {
        // margin-top: 1%;
        font-size: 3vw;
        color: antiquewhite;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 300;
      }

      h2 {
        // margin-top: 1%;
        font-size: 2.4vw;
        color: rgb(183, 132, 12);
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 300;
      }

      p {
        font-size: 1.2vw;
        color: rgb(152, 134, 67);
        font-family: cursive;
        font-weight: 300;
      }

      .wrapper {
        height: 100%;
        width: 100%;
        margin-top: 1%;
        padding: 0% 0% 1% 0%;
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: rgb(0, 0, 0);
        gap: 2px;
        position: relative;  
        overflow: hidden;

        .white {
          position: relative;
          height: 100%;
          width: 100%;
          background-color: white;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom: 10px;
          z-index: 1;
          border-bottom: 4px solid rgb(181, 181, 181);
        }

        .white:hover{
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.633);
        }

        .black {
          position: absolute;
          top: 0;
          height: 60%;
          width: 45px;
          background-color: black;
          color: white;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          z-index: 3;
          transform: translateX(-50%);
          border-bottom: 4px solid rgb(90, 87, 87);
        }

        .black:hover{
          cursor: pointer;
          background-color: rgb(47, 45, 45);
        }
      }
    }
  }
}