*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
}

html,body{
    width: 100%;
    height: 100%;
     
}

#main{
    width: 100%;
    height: 100%;

}

#top{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D97D55;
    align-items: center;
    justify-items: center;
}
#top h1{
   color: white;
}
#top h4{
   padding-top: 10px;
   color: white;

}

#content{
    width: 100%;
    height: 100%;
    padding: 20px 110px; 
}


#about{
     margin-top: 10px;
width: 100%;
height: 30%;
    background-color: #F4E9D7;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
   /* padding-top: 10px;
   padding-bottom: 20px; */
}
#about h1{
padding-top: 35px;
font-size: 25px;
text-transform:uppercase ;
}

#about p{
    text-align: center;
    padding: 30px 10px;
}

#edu{
    margin-top: 30px;
    width: 100%;
padding-top:40px ;
padding-bottom: 40px;
    background-color: #B8C4A9;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    position: relative;
}

#edu h2{
font-size: 25px;
text-transform:uppercase ;
}

#edu h4:nth-child(2){
    text-align: center;
    color: #111211;
     margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
   width: 600px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform:uppercase ;
}

#edu h4:nth-child(3){
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 600px;
    padding-top: 10px;
     padding-bottom: 10px;
     text-transform:uppercase ;
}


#skill{
    margin-top: 30px;
    width: 100%;
padding-top: 40px;
padding-bottom: 40px;
    background-color: rgb(241, 198, 142);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    text-transform:uppercase ;
    position: relative;
}

#skill h2{
font-size: 25px;
text-transform:uppercase ;
}

#skill h4:nth-child(2){
    text-align: center;
    color: #111211;
     margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
   width: 600px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform:uppercase ;
}

#skill h4:nth-child(3){
    text-align: center;
    color: #111211;
     margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
   width: 600px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform:uppercase ;
}
#skill h4:nth-child(4){
    text-align: center;
    color: #111211;
     margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
   width: 600px;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform:uppercase ;
}

#pro{
    align-items: center;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #6FA4AF;
    border-radius: 10px;
    margin-top: 30px;
}

#pro h2{
    text-align: center;

}

#pro h4:nth-child(2){
    text-align: center;
    margin-top: 20px;
     padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;
}

#pro h4:nth-child(3){
    text-align: center;
    margin-top: 20px;
     padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;
}

#pro h4:nth-child(4){
    text-align: center;
    margin-top: 20px;
     padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;  
}

#cont{
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-items: center;
    background-color: #7C6A92;
}

#cont h4:nth-child(2){
    width: 600px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;

}

#cont h4:nth-child(3){
    width: 600px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;

}
#cont h4:nth-child(4){
    width: 600px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;

}

#copyright{
    margin-top: 850px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-items: center;
    background-color: #f58834;
}