*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    /* background-color: #ede5e5; */
    
}

#left-top-left{
     padding: 25px;
    /* background-color: rgb(255, 5, 5); */
    
}

#icon{
    width: 15px;
    height: 15px;
    rotate: 45deg;
    background-color: black;
}


#left-top-right{
    /* background-color: rgb(228, 56, 133); */
    justify-items: right;
    padding: 25px;
    text-align: center;
}

#left-top-right h4{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    
}

#left-top-right h5{
   font-size: 12px;
   font-weight: 800;
}

#left-top-right h6{
  display: none;
}


#right{
      grid-row: 1/4;
      grid-column: 3;
      padding: 40px;
      padding-right: 150px;
    /* background-color: rgb(2, 125, 233); */
}

#right video{
 width: 100%;
      height: 100%;
      object-fit: cover;
}

#arr{
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: orangered;
    border-radius: 50%;
    padding: 30PX;
    border: 2px solid orangered;
    color: #ffff;
}
#arr i{
    font-size: 30px;

}

#left-center{
    padding: 15px;
    grid-column: 1/3;
    /* background-color: rgb(6, 42, 74); */
}

#left-center h1{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 6vw;
    font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n){
    text-align: center;
}


#left-bottom-left{
    /* background-color: rgb(15, 92, 32); */
     grid-column: 1/3;
     padding: 10px;
}
#left-bottom-left p{
    text-align: left;
    width: 50%;
}

@media (max-width:600px){
   #main{
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 34% 8%;
}

#left-top-left{
     padding: 20px;
  
    
}

#icon{
    width: 15px;
    height: 15px;
   
}

#left-top-right{
 
    justify-items: right;
    padding: 20px;
    text-align: center;
}

#left-top-right h4{
    display: none;
    
}

#left-top-right h5{
   display: none;
}
#left-top-right h6{
   font-size: 20px; 
   padding-left: 110px;
   font-weight: 800;
   display: initial;
}   

#right{
      grid-row: 4;
      grid-column: 1/4;
      padding: 20px;
      padding-right: 20px;
   
}

#right video{
height: 42vh;
}

#arr{
    top: 52%;
    left: 50%;
    padding: 10PX;
    transform: translate(-50%,-50%) rotate(90deg);
   
}
#arr i{
    font-size: 20px;

}

#left-center{
    padding: 10px 20px;
}
    

#left-center h1{
    font-size: 17vw;
    line-height: 14vw;
}
#left-center h1:nth-child(2n){
    text-align: right;
}


#left-bottom-left{
     padding:0px 20px;
}
#left-bottom-left p{
    text-align: left;
    width: 80%;
    font-size: 10px;

}
}

